body {
    background-color: #FFFFFF;
}

h1 {
    color: black;
}

.blogForm {
    width: 80%;
    margin: 0 auto;
}

.formLabel {
    color: rgb(0, 0, 0);
}

img {
    max-height: 50%;    
}

.book-card {
    min-width: 150px;  
    color: black;
}

.star-rating{
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1px black;
    justify-content: center;
    gap: 5px;
    display: flex;  
    font-size: 20px;
    /* align-items: flex-end; */
}
.star-rating .on{
    color: yellow;
}

.star-rating .off{
    color: black;
}

.card-title {
    margin-top: 8px;
}

.star-rating .rating-num {
    -webkit-text-stroke: 0px black;
}

.navbar-margin-ovrr {
    margin: 10px 30px;
}

.cust-max-screen-width-1000 {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.cust-max-screen-width-600 {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}